<div class="d-flex flex-row justify-content-between position-sticky top-0 z-3 bg-white py-2">
    <div class="w-50">
        <label for="basic-url" class="form-label">Beginning date</label>
        <input type="date" class="form-control" name="begin" id="begin" (input)="onInputChange($event)">
    </div>
    <div class="w-50">
        <label for="basic-url" class="form-label">Ending date</label>
        <input type="date" class="form-control" name="end" id="end" (input)="onInputChange($event)">
    </div>  
</div>
<div class="pt-3 overflow-auto d-flex flex-column gap-3 w-100">
    <app-event-card *ngFor="let item of allEvents" [title]="item.title" [date]="item.date"
        [image]="item.image"></app-event-card>
</div>